.app {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  margin: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.image-details img {
  width: 300px;
  height: auto;
}
